@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  width: 15px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.custom-inpt {
  padding: 10px !important;
}
